{% trans_default_domain 'FOSUserBundle' %}

<div class="callout">
    <h4>{{ 'profile.edit' | trans({}, 'page_title') }}</h4>
    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        {{ form_widget(form) }}
        <div>
            <button class="button" type="submit">{{ 'profile.edit.submit'|trans }}</button>
        </div>
    {{ form_end(form) }}
</div>
