{% set filter_value = get_filter_value(name) %}

<label for="{{ name }}">
    {{ label }}:
    <input title="{{ name }}" type="text" name="filters[{{ name }}]" value="{{ filter_value }}" placeholder="{{ label }}">
</label>
