{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'profile.changePassword'|trans({}, 'page_title') }}{% endblock %}

{% block body_callout_title %}{{ 'profile.changePassword' | trans({}, 'page_title') }}{% endblock %}

{% block body_callout %}
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_widget(form) }}
        <div>
            <button class="button" type="submit">{{ 'change_password.submit'|trans }}</button>
        </div>
    {{ form_end(form) }}
{% endblock body_callout %}

{% block actions %}
    {{ callout_menu('profile', { 'include_change_password': false }) }}
{% endblock %}
