<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Granty - {% block title %}{% endblock %}</title>
        {%- block stylesheets -%}
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bundled.min.css') }}">
        {%- endblock -%}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {%- block top_nav -%}
            {% include 'layout/top_nav.html.twig' %}
        {%- endblock -%}

        {%- block flash_messages -%}
            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    <div class="{{ type }}">
                        {{ message|trans({}, 'flash_messages') }}
                    </div>
                {% endfor %}
            {% endfor %}
        {%- endblock -%}

        <main>
            {%- block body -%}{%- endblock -%}
        </main>

        {%- block javascripts -%}
            <script type="application/javascript" src="{{ asset('assets/js/bundled.min.js') }}"></script>
        {%- endblock -%}
    </body>
</html>
