{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'security.login.submit'|trans }}{% endblock %}

{% block pre_body %}
    {% if error %}
        <div class="callout alert">
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        </div>
    {% endif %}
{% endblock %}

{% block body_callout_title %}{{ 'security.login.submit' | trans }}{% endblock %}

{% block body_callout %}
        <form id="form-login" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="row">
                <div class="column">
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input type="password" id="password" name="_password" required="required" />
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <button type="submit" class="button inline-block" id="_submit" name="_submit">{{ 'security.login.submit'|trans }} <i class="fa fa-angle-right"></i></button>

                    <div class="remember-me">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href="{{ path('fos_user_resetting_request') }}">{{ 'text.profile.forgotPassword'|trans({}, 'messages') }}</a>
                </div>
            </div>
        </form>
{% endblock body_callout %}

{% block post_body %}
    <div class="callout secondary">
        <h4>{{ 'text.registration.noAccountQuestion'|trans({}, 'messages') }}</h4>
        <a href="{{ path('fos_user_registration_register') }}" class="button expanded">{{ 'actions.register' | trans({}, 'messages') }}</a>
    </div>
{% endblock %}
