{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'application.index'|trans({}, 'page_title') }}{% endblock %}

{% block body %}
    {% if not app.user.isReviewer %}
        <div class="row">
            <div class="column">
                <a href="{{ path('application_add') }}" class="button success">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    {{ 'buttons.application.add'|trans }}
                </a>
            </div>
        </div>
    {% endif %}

    {% if not is_empty(applications) %}
        <div class="row">
            <div class="column">
                <table class="hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ 'application.author'|trans({}, 'entities') }}</th>
                            <th>{{ 'application.topic'|trans({}, 'entities') }}</th>
                            <th>{{ 'application.status'|trans({}, 'entities') }}</th>
                            <th>{{ 'actions.actions'|trans() }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for application in applications %}
                            <tr>
                                <td>{{ application.id }}</td>
                                <td>{{ application.user }}</td>
                                <td>{{ application.topic }}</td>
                                <td><span class="label {{ application.status }}">{{ ('applicationStatus.' ~ application.status)|trans({}, 'enums') }}</span></td>
                                <td>{{ menu('actions.application', {'application': application, 'include_index': false}) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div class="callout secondary">
            <i class="fa fa-info-circle" aria-hidden="true"></i>

            {% if app.user.isReviewer %}
                {{ 'text.application.review.noItems'|trans }}
            {% else %}
                {{ 'text.application.noItems'|trans }}
                <a href="{{ path('application_add') }}">{{ 'actions.clickHere'|trans }}</a>
                {{ 'text.application.toApply'|trans }}.
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
