{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'application.index'|trans({}, 'page_title') }}{% endblock %}

{% block body %}
    {% if not applications.empty %}
    <table class="hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for application in applications %}
                <tr>
                    <td>{{ application.id }}</td>
                    <td>{{ application.title }}</td>
                    <td>-</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="callout secondary">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            {{ 'text.application.noItems'|trans }}
            <a href="#">{{ 'actions.clickHere'|trans }}</a>
            {{ 'text.application.toApply'|trans }}.
        </div>
    {% endif %}
{% endblock %}
