{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'application.index'|trans({}, 'page_title') }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="column">
            <a href="{{ path('application_add') }}" class="button success">
                <i class="fa fa-plus" aria-hidden="true"></i>
                {{ 'buttons.application.add'|trans }}
            </a>
        </div>
    </div>

    {% if not applications.empty %}
    <table class="hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Topic</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for application in applications %}
                <tr>
                    <td>{{ application.id }}</td>
                    <td>{{ application.topic }}</td>
                    <td>-</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="callout secondary">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            {{ 'text.application.noItems'|trans }}
            <a href="{{ path('application_add') }}">{{ 'actions.clickHere'|trans }}</a>
            {{ 'text.application.toApply'|trans }}.
        </div>
    {% endif %}
{% endblock %}
