{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'application.index'|trans({}, 'page_title') }}{% endblock %}

{% block page_header %}
   {{ (my_applications ? 'application.index' : 'application.review_list') | trans({}, 'page_title') }}
{% endblock %}

{% block body %}
    {% if not app.user.superAdmin %}
        <div class="row">
            <div class="column">
                <a href="{{ path('application_add') }}" class="button success">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    {{ 'buttons.application.add'|trans }}
                </a>
            </div>
        </div>
    {% endif %}

    {% if not is_empty(applications) %}
        <div class="row">
            <div class="column">
                <table class="hover">
                    <thead>
                        <tr>
                            <th class="fit">#</th>
                            {% if not my_applications %}<th>{{ 'application.author'|trans({}, 'entities') }}</th>{% endif %}
                            <th>{{ 'application.topic'|trans({}, 'entities') }}</th>
                            <th>{{ 'timestampable.created'|trans({}, 'entities') }}</th>
                            <th class="fit">{{ 'application.status'|trans({}, 'entities') }}</th>
                            <th>{{ 'actions.actions'|trans() }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for application in applications %}
                            <tr>
                                <td>{{ application.id }}</td>
                                {% if not my_applications %}<td> {{ created_by(application) }}</td>{% endif %}
                                <td>{{ application.topic }}</td>
                                <td>{{ created(application) }}</td>
                                <td><span class="label application-status {{ application.status }}">{{ ('applicationStatus.' ~ application.status)|trans({}, 'enums') }}</span></td>
                                <td>{{ menu('actions.application', {'application': application, 'include_index': false}) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="column">
                {{ knp_pagination_render(applications) }}
            </div>
        </div>
    {% else %}
        <div class="callout secondary">
            <i class="fa fa-info-circle" aria-hidden="true"></i>

            {% if app.user.isReviewer %}
                {{ 'text.application.review.noItems'|trans }}
            {% else %}
                {{ 'text.application.noItems'|trans }}
                <a href="{{ path('application_add') }}">{{ 'actions.clickHere'|trans }}</a>
                {{ 'text.application.toApply'|trans }}.
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
