{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'application.reject'|trans({}, 'page_title') }}{% endblock %}

{% block body_callout_title %}{{ 'application.reject'|trans({}, 'page_title') }}{% endblock %}

{% block body_callout %}
    {{ form_start(form) }}
        <div class="row">
            <div class="column">
                {{ form_widget(form) }}
            </div>
        </div>
        <div class="row">
            <div class="column">
                <button type="submit" class="button">{{ 'buttons.application.reject'|trans }}</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block actions %}
    {{ callout_menu(
        'actions.application',
        {'application': application, 'include_accept': false, 'include_reject': false}
    ) }}
{% endblock %}
