{% extends 'layout/base.html.twig' %}

{% set applicationProperties = ['category', 'topic', 'year', 'meritoricalJustification', 'currentKnowledge', 'scientificAchievements', 'applicantsProjects', 'foreseeableGoals', 'scheduleOfWork', 'externalFinancing', 'plannedExpensesTotal', 'plannedExpensesInCurrentYear', 'expensesExplanation', 'projectDirector', 'organizationDirector'] %}

{% block title %}{{ 'application.view'|trans({}, 'page_title') }}: {{ application.topic }}{% endblock %}

{% block body_callout_title %}
    {{ 'application.view'|trans({}, 'page_title') }}: <em>{{ application.topic }}</em>
    <span class="label application-status large {{ application.status }} float-right">{{ ('applicationStatus.' ~ application.status)|trans({}, 'enums') }}</span>
{% endblock %}

{%- block body_callout -%}
    <div class="card">
        <div class="card-section">
            {{ 'timestampable.created' | trans({}, 'entities') }}:
            {{ created(application) }} ({{ created_by(application) }})
            {% if application.updated %}
                |
                {{ 'timestampable.updated' | trans({}, 'entities') }}:
                {{ updated(application) }} ({{ updated_by(application) }})
            {% endif %}
        </div>
    </div>

    {% for property in applicationProperties %}
        {% set propertyValue = attribute(application, property) %}

        {% if propertyValue %}
            <div class="card">
                <div class="card-divider">
                    <strong>
                        <small>
                            {{ ('application.' ~ property) | trans({}, 'entities') }}:
                        </small>
                    </strong>
                </div>
                <div class="card-section">
                    {% if property == 'category'  %}
                        {{ ('applicationCategory.' ~ attribute(application, property)) | trans({}, 'enums') }}
                    {% else %}
                        {{ attribute(application, property) | nl2br }}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {% if application.attachment %}
    <div class="callout">
        <h6><strong>{{ ('application.attachment') | trans({}, 'entities') }}:</strong></h6>
        <p>{{ attachment_download(application.attachment) }}</p>
    </div>
    {% endif %}
{%- endblock -%}

{%- block post_body -%}
    <div class="callout">
        {% for response in application.responses %}
            <div class="card">
                <div class="card-divider {{ application_response_class(response) }}">
                    <strong>{{ (response.type ~ '.name') | trans({}, 'entities') }}</strong>
                    <small>{{ created(response) }}</small>
                </div>
                <div class="card-section">
                    {% if response.type == 'acceptance' %}
                        <div>
                            <strong>{{ 'acceptance.granted' | trans({}, 'entities') }}: {{ response.granted }} PLN</strong>
                        </div>
                    {% endif %}
                    {{ response.message | nl2br }}
                </div>
            </div>
        {% endfor %}
    </div>
{%- endblock -%}

{% block actions %}
    {{ callout_menu('actions.application', {'application': application, 'include_view': false}) }}
{% endblock %}
