{% extends 'layout/base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

        <div class="row">
            <div class="large-12 columns">
                <button type="submit" class="button">{{ 'form.register' | trans({}, 'forms') }}</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}