{% trans_default_domain 'entities' %}

<div class="callout primary">
    <p><strong>{{ 'user.username'|trans }}:</strong> {{ user.username }}</p>
    <p><strong>{{ 'user.email'|trans }}:</strong> {{ user.email }}</p>
</div>
<div class="callout secondary">
    <p><strong>{{ 'user.firstName'|trans }}:</strong> {{ user.firstName }}</p>
    <p><strong>{{ 'user.lastName'|trans }}:</strong> {{ user.lastName }}</p>
    <p><strong>{{ 'user.department'|trans }}:</strong> {{ user.department }}</p>
    <p><strong>{{ 'user.dateOfBirth'|trans }}:</strong> {{ user.dateOfBirth | date('j F Y') }}</p>
</div>
<div class="callout success">
    <p>
        {{ 'text.profile.submittedApplications'|trans({}, 'messages') }}:
        <strong>{{ submitted_applications(user) | length }}</strong>
    </p>
</div>
